<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <h1>yogya</h1>
    <form method="post" action="/url">
        <label for="name">name</label>
        <input type="text" name="name">
        <label for="url">url</label>
        <input type="text" name="url">
        <button type="submit">post</button>
    </form>
</body>
</html>